/* Marker Tweaks *?
.mapboxgl-popup-close_button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px "Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}
.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }
