/* Marker Tweaks *?
.mapboxgl-popup-close_button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px "Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}
